{% extends '../base.html' %}
{% load static %}


{% block body %}
<section class="content">
    <div class="body_scroll">
        <div class="block-header">
            <div class="row">
                <div class="col-lg-7 col-md-6 col-sm-12">
                    <h2>Property Detail</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'dashboard' %}"><i class="zmdi zmdi-home"></i> Aero</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'properties' %}">Properties</a></li>
                        <li class="breadcrumb-item active">Property Detail</li>
                    </ul>
                    <button class="btn btn-primary btn-icon mobile_menu" type="button"><i class="zmdi zmdi-sort-amount-desc"></i></button>
                </div>
                <div class="col-lg-5 col-md-6 col-sm-12">                
                    <button class="btn btn-primary btn-icon float-right right_icon_toggle_btn" type="button"><i class="zmdi zmdi-arrow-right"></i></button>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="blogitem mb-5">
                            <div class="blogitem-image">
                                <a href="blog-details.html"><img src="{{ property.image.url }}" alt="blog image"></a>
                                <span class="blogitem-date">{{property.created_at}}</span>
                            </div>
                            <div class="blogitem-content">
                                <h5><a href="blog-details.html">{{property.name}}</a></h5>
                                <p>{{property.description}}</p>
                                <blockquote class="blockquote">
                                    <p>Address: {{property.address}}</p>
                                    <p> Units: </p>
                                    <footer>
                                        {% for unit in property.units.all %}
                                            <a href="blog.html">{{ unit.name }}</a>{% if not forloop.last %}, {% endif %}
                                        {% empty %}
                                        {% endfor %}
                                    </footer>
                                </blockquote>
                                <p>The point of using Lorem of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incdidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullaco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaeca cupidatat non proident.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock body%}