{% extends './index.html' %}
{% load static %}

{% block body %}
<div class="container-fluid">
    <div class="col-lg-12 pt-4">
        <div class="row">
            <!-- FORM Panel -->
            <div class="col-md-12">
                <form action="" id="manage-category" data-url="{% url 'property-edit' property.id %}">
                    {% csrf_token %}
                    <div class="card">
                        <div class="card-header">
                            Edit Property Form
                        </div>
                        <div class="card-body">
                            <input type="hidden" name="id" value="">
                            <div class="form-group">
                                <label class="control-label">Name</label>
                                <input type="text" class="form-control" name="name" value="{{ property.name }}">
                            </div>
                            <div class="form-group">
                                <label class="control-label">Address</label>
                                <input type="text" class="form-control" name="address" value="{{ property.address }}">
                            </div>
                            <div class="form-group">
                                <label class="control-label">Number of Units</label>
                                <input type="text" class="form-control" name="number_of_units" value="{{ property.number_of_units }}">
                            </div>
                            <div class="form-group">
                                <label class="control-label">File </label>
                                <input type="file" class="form-control" name="image">
                            </div>
                            <div class="form-group">
								<label class="control-label">Category</label>
								<select name="type" id="" class="custom-select" required>
								{% for cat in categories %}
									<option value="{{ cat.id }}">{{ cat.name }}</option>
								{% endfor %}
								</select>
							</div>
                            <div class="form-group">
                                <label class="control-label">Description</label>
                                <textarea type="text" class="form-control" name="description" value="">{{ property.description }}</textarea>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="row">
                                <div class="col-md-12">
                                    <button class="btn btn-sm btn-primary col-sm-3 offset-md-3">Save</button>
                                    <button class="btn btn-sm btn-default col-sm-3" type="button" onclick="$('#manage-category').get(0).reset()">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!-- FORM Panel -->
        </div>
    </div>
</div>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<style>
    td {
        vertical-align: middle !important;
    }
</style>
<script>
    $('#manage-category').submit(function(e){
        e.preventDefault();
        start_load();
        var url = $(this).attr('data-url');
        console.log(url)
        $.ajax({
            url: url,
            data: new FormData($(this)[0]),
            cache: false,
            contentType: false,
            processData: false,
            method: 'POST',
            type: 'POST',
            success:function(resp){
                if(resp.code == '200'){
                    Swal.fire({
                        icon: 'success',
                        title: "Success",
                        text: resp?.message,
                        showConfirmButton: false,
                        position: "top",
                        toast: true,
                        timer: 1500,
                        timerProgressBar: true,
                    });
                    setTimeout(function(){
                        window.location.href = "{% url 'manage_categories' %}"; // Redirect to manage-category.php
                    },2000);
                }
                else{
                    swal("success", "Something went wrong");
                    setTimeout(function(){
                        location.reload();
                    },2500);
                }
            }
        });
    });
</script>
{% endblock body %}