{% extends './index.html' %}
{% load static %}

{% block body %}

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/2.0.5/css/dataTables.dataTables.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/3.0.2/css/buttons.dataTables.css">
<div class="container-fluid">
	
	<div class="col-lg-12 mt-5">
		<div class="row">
			<!-- FORM Panel -->
			
			<!-- FORM Panel -->

			<!-- Table Panel -->
			<div class="col-md-12">
				<div class="card">
					<div class="card-header">
						<b>Unit List</b>
					</div>
					<div class="card-body">
						<table id="example" class="display table table-bordered table-hover">
							<thead>
								<tr>
									<th class="text-center">#</th>
									<th class="text-center">Unit</th>
									<th class="text-center">Action</th>
								</tr>
							</thead>
							<input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
							<tbody>
								{% for unit in units %}
								<tr>
									<td class="text-center">{{ unit.id }}</td>
									<td class="">
										<p>Unit Number: {{ unit.unit_number }}</p>
										<p><small>Rent: {{ unit.monthly_rent }} </small></p>
										<p><small>Address: {{ unit.property.address }}</small></p>
									</td>
									<td class="text-center">
										<button class="btn btn-sm btn-primary edit_house" type="button" id="edit-property" data-id=""  data-url="">Edit</button>
										<button class="btn btn-sm btn-danger delete_unit" type="button" data-url="{% url 'delete-unit' unit.id %}">Delete</button>
									</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<!-- Table Panel -->
		</div>
	</div>	

</div>
<style>
	
	td{
		vertical-align: middle !important;
	}
	td p {
		margin: unset;
		padding: unset;
		line-height: 1em;
	}
</style>
<script>
	function getCSRFToken() {
		return document.querySelector('[name=csrfmiddlewaretoken]').value;
	}

	$('#manage-house').on('reset',function(e){
		$('#msg').html('')
	})
	
	$('.delete_unit').click(function(e){
		console.log("I go here")
		e.preventDefault();

		const form = this;
		const url = $(form).data('url'); 
		console.log(url)

		$.ajax({
			url: url,
			method: 'POST',
			headers: {
				'X-CSRFToken': getCSRFToken()
			},
			success:function(resp){
				if(resp.code == '200'){
					Swal.fire({
						icon: 'success',
						title: "Success",
						text: resp?.message,
						showConfirmButton: false,
						position: "top",
						toast: true,
						timer: 1500,
						timerProgressBar: true,
					});
					setTimeout(function(){
						location.reload()
					},1500)

				}
			}
		})
	});
	// function delete_house($id){
	// 	start_load()
	// 	$.ajax({
	// 		url:'ajax.php?action=delete_house',
	// 		method:'POST',
	// 		data:{id:$id},
	// 		success:function(resp){
	// 			if(resp==1){
	// 				alert_toast("Data successfully deleted",'success')
	// 				setTimeout(function(){
	// 					location.reload()
	// 				},1500)

	// 			}
	// 		}
	// 	})
	// }
	// $('table').dataTable()
</script>
<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script src="https://cdn.datatables.net/2.0.5/js/dataTables.js"></script>
<script src="https://cdn.datatables.net/buttons/3.0.2/js/dataTables.buttons.js"></script>
<script src="https://cdn.datatables.net/buttons/3.0.2/js/buttons.dataTables.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/3.0.2/js/buttons.html5.min.js"></script>
<script>
	new DataTable('#example', {
    layout: {
        topStart: {
            buttons: ['copyHtml5', 'excelHtml5', 'csvHtml5', 'pdfHtml5']
        }
    }
});
</script>
{% endblock body %}