{% extends './index.html' %}
{% load static %}

{% block body %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/2.0.5/css/dataTables.dataTables.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/3.0.2/css/buttons.dataTables.css">
<div class="container-fluid">
	
	<div class="col-lg-12 mt-5">
		<div class="row">
			<!-- FORM Panel -->
		
			<!-- FORM Panel -->

			<!-- Table Panel -->
			<div class="col-md-12">
				<div class="card">
					<div class="card-header">
						<b>House Type List</b>
					</div>
					<div class="card-body">
						<table id="example" class="display table table-bordered table-hover">
							<thead>
								<tr>
									<th class="text-center">#</th>
									<th class="text-center">Category</th>
									<th class="text-center">Action</th>
								</tr>
							</thead>
							<tbody>
								{% for house_type in house_types %}
								<tr>
									<td class="text-center">
										<p>{{house_type.id}}</p>
									</td>
									<td class="">
										<p>{{house_type.name}}</p>
									</td>
									<td class="text-center">
										<button class="btn btn-sm btn-primary edit_category" type="button" data-id="{{ house_type.id }}"  data-name="{{ house_type.name }}" data-url="{% url 'edit_categories' house_type.id %}" >Edit</button>
										<button class="btn btn-sm btn-danger delete_category" type="button" data-id="{{ house_type.id }}" data-url="{% url 'category_delete' house_type.id %}"> Delete</button>
									</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<!-- Table Panel -->
		</div>
	</div>	

</div>
<style>
	
	td{
		vertical-align: middle !important;
	}
</style>



<script>

$('.edit_category').click(function(e){
	e.preventDefault()
    var url = $(this).attr('data-url');
	console.log(url)
	window.location.href = url;
});

$('#manage-category').submit(function(e){
    e.preventDefault();
	var url = $(this).attr('data-url');
    start_load();
    $.ajax({
        url: url,
        data: new FormData($(this)[0]),
        cache: false,
        contentType: false,
        processData: false,
        method: 'POST',
        type: 'POST',
        success:function(resp){
            if(resp.code == '200'){
                alert_toast("Data successfully added",'success');
                setTimeout(function(){
                    window.location.href = 'manage_categories.php'; // Redirect to manage-category.php
                },1500);
            }
            else if(resp==2){
                alert_toast("Data successfully updated",'success');
                setTimeout(function(){
                    location.reload();
                },1500);
            }
        }

    });
});



	$('.edit_category').click(function(){

		start_load()
		var cat = $('#manage-category')
		cat.get(0).reset()
		cat.find("[name='id']").val($(this).attr('data-id'))
		cat.find("[name='name']").val($(this).attr('data-name'))
		end_load()
	})

	$('.delete_category').click(function(e){
		e.preventDefault();

		const form = this;
		const url = $(form).data('url'); 
		console.log(url)

		$.ajax({
			url: url,
			method: 'POST',
			success:function(resp){
				if(resp.code == '200'){
					Swal.fire({
						icon: 'success',
						title: "Success",
						text: resp?.message,
						showConfirmButton: false,
						position: "top",
						toast: true,
						timer: 1500,
						timerProgressBar: true,
					});
					setTimeout(function(){
						location.reload()
					},1500)

				}
			}
		})
	});
	// $('table').dataTable()
</script>

<!-- <script src="https://code.jquery.com/jquery-3.7.1.js"></script> -->
<script src="https://cdn.datatables.net/buttons/2.4.2/js/dataTables.buttons.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.print.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.5.0/js/dataTables.responsive.min.js"></script>

<script>
   $(document).ready(function() {
        $('#example').DataTable({
            dom: 'Bfrtip',
            responsive: true,
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ],
            "bs5": true
        });
    });
</script>

{% endblock body %}